.Body3{
    width: 117rem;
height: 110.875rem;
flex-shrink: 0;
background: black;
}
.heading1{
    padding-top: 3rem;
width: 40.5rem;
height: 3.875rem;
color: #FFF;
font-family: Poppins;
font-size: 2.875rem;
font-style: normal;
font-weight: 600;
line-height: 2.875rem;
margin-left: 10rem;
}
.heading2{
    margin-top: 3rem;
    width: 20.5rem;
height: 2.875rem;
color: #FFF;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 1.875rem;
font-style: normal;
font-weight: 300;
line-height: 2.875rem;
margin-left: 10rem;
}
hr{
    opacity: 90%;
    margin-top: .7rem;
    width: 100rem;
    height: 0rem;
    margin-left: 10rem;
    background-color: #FFF;
}
.travellerMainDiv{
    /* padding-left: 10rem; */
    display: flex;
    justify-content: space-between;
    width: 99.375rem;
    height: 36.9375rem;
    flex-shrink: 0;
    /* border: 4px solid red; */
    margin-top: 2rem;
    margin-left: 10rem;
}
.pickByTravel{
    position: relative;
  display: inline-block;
    border-radius: 2rem;
    width: 29.9375rem;
    height: 36.7125rem;
    flex-shrink: 0;
    /* border: 2px solid burlywood; */
    overflow: hidden;
}
.pickByTravel img {
    max-width: 100%; /* Ensures the image does not exceed the container width */
    height: auto; /* Maintains the aspect ratio of the image */
    display: block; /* Ensures the image is treated as a block element */ 
    transition: transform 0.2s ease; 
  }
  .pickByTravel:hover img {
    transform: scale(1.1); /* Zoom in by 20% on hover */
  }
.pickByTravelTitle{
    position: absolute;
  top: 88%;
  left: 35%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(0, 0, 0, 0.7); */
  color: #fff;
  padding: 10px;
  /* text-align: center; */
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

.pickByTravelSub{
    margin-top: .4rem;
    position: absolute;
    top: 93%;
    left: 26%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
    /* text-align: center; */
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------------------------------------------------------------*/


.adventureMainDiv{
    /* padding-left: 10rem; */
    display: flex;
    justify-content: space-between;
    width: 99.375rem;
    height: 36.9375rem;
    flex-shrink: 0;
    /* border: 4px solid red; */
    margin-top: 2rem;
    margin-left: 10rem;
}
.pickByAdventure{
    position: relative;
  display: inline-block;
    border-radius: 2rem;
    width: 29.9375rem;
    height: 36.7125rem;
    flex-shrink: 0;
    /* border: 2px solid burlywood; */
    overflow: hidden;
}
.pickByAdventure img{
    max-width: 100%; /* Ensures the image does not exceed the container width */
    height: auto; /* Maintains the aspect ratio of the image */
    display: block; /* Ensures the image is treated as a block element */ 
    transition: transform 0.2s ease; 
}
.pickByAdventure img:hover{
    transform: scale(1.1); /* Zoom in by 20% on hover */
}
.pickByAdventureTitle
{
    position: absolute;
    top: 88%;
    left: 30%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(0, 0, 0, 0.7); */
    color: #fff;
    padding: 10px;
    /* text-align: center; */
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.pickByAdventureSub{
    margin-top: .4rem;
    position: absolute;
    top: 93%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
    /* text-align: center; */
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}