
.searchbar{
    color: #FFF;
    font-family:INTER;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 52.125rem;
    height: 3.1875rem;
    flex-shrink: 0;
    border-radius: 1.875rem;
    border: 1px solid #FFF;
    background: #000;
    /* margin-top: 1.44rem; */
    margin-bottom: 0.09rem;
    margin-left: 32.16rem;
    padding-left: 3rem;
}
.navbar{
    border: 1px solid transparent;
    width: 117.7rem;
    height: 5.5rem;
    flex-shrink: 0;
    background: #000;
}

#anchor:visited{
    text-decoration: none;
}
.logo{
    display: inline-block;
}
.mainNav{
    position: fixed;
    z-index: 2;
}
.anc{
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    height: 4rem;
    width: 24.66%;
    border: 1px solid black ;
    font-family: Poppins;
    font-size: 1.875rem;
    line-height: normal;
    display: inline-block;
    text-align: center;
    padding-top: 1.5rem;
    background-color: rgb(250, 250, 250);
    /* border: 2px solid yellow; */
}
.anc::before {
    content: '';
    display: block;
    width: 0;
    height: 2px; /* Adjust the thickness of the underline */
    background-color: #007bff; /* Color of the underline */
    position: absolute;
    bottom: -2px; /* Position it at the bottom */
    left: 0;
    transition: width 0.3s ease; /* Transition for smooth effect */
}

.anc:hover::before {
    width: 100%;
}
.secondNav{
    display: flex;
    

}
.secondNav a{
    text-decoration: none;
    color: black;

}



